body {
    background: rgb(0, 0, 0);
}

.teks1 {
    color: yellow;
    margin-top: 15px;
    font-size: 70px;
    text-align: center;
}

p {
    color: white;
    margin-top: -1px;
    font-size: 50px;
    text-align: center;
}

.gambar1 {
    margin-left: 700px;
    margin-top: -95px;
}

.gambar {
    width: 40px;
    height: 40px;
}
